<%= form_with(model: presenter, local: true) do |form| %>
<% if presenter.errors.any? %>
<div class="row" id="error_explanation">
  <h2><%= pluralize(presenter.errors.count, "error") %> prohibited this presenter from being saved:</h2>
</div>
<ul>
  <% presenter.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<div class="content">
  <div class="form-group">
    <%= form.label :発表者名%></br>
    <%= fields_for @users do |u| %>
    <%= form.collection_select :name, @users.all, :id, :view_name_grade, :include_blank => true %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :発表題目 %>
    <%= form.text_field :title, id: :presenter_title, class:"form-control form-control-lg rounded" %>
  </div>

  <div class="form-group">
    <%= form.label :会議名 %></br>
    <%= fields_for @meetings do |m| %>
    <%= form.collection_select :meeting_id, @meetings.all, :id, :view_title_times, :include_blank => true %>
    <% end %>
  </div>

  <div class="form-group">
    <i class="nc-icon nc-cloud-upload-94" aria-hidden="true"></i>
    <%= form.label :file, id: :presenter_filepath %>
    <%= form.file_field :file %>
  </div>

  <div class="row justify-content-center">
    <%= form.submit "登録", class:"btn btn-neutral btn-lg" %>
  </div>
</div>
<% end %>
